.DS_Store

# Logs
logs
*.log

# Runtime data
build
dist

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Dependency directory
node_modules

# Random stuff not for git
ignore
